{% extends 'users/base.html' %}

{% block title %} Cart {% endblock %}

{% block content %}

<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<table class="table">
					<tr>
						<th><h5>Items: <strong></strong>{{ order.get_cart_items }}</h5></th>
						<th><h5>Total:<strong> {{ order.get_cart_total|floatformat:2}}$</strong></h5></th>
						<th>
						</th>
					</tr>
				</table>
			</div>

			<table>
				<tr>
					<td> </td>
					<td>Item</td>
					<td>Price</td>
					<td>Quantity</td>
					<td>Item Type</td>
					<td>Total</td>
				</tr>
				</table>

				<div class="cart-row">
					<table>
                    {% for item in items %}
						<tr>
							<td><img class="row-image" src="{{ item.product.image.url }}"  width="50" height="50"></td>
							<td >{{ item.product.price|floatformat:2}}$</td>
							<td>{{ item.quantity }}<i data-post={{item.product.id}} data-action="add"class="fa-solid fa-angle-up update-cart " ></i>
							<i data-post={{item.product.id}} data-action="remove" class="fa-solid fa-angle-down update-cart"></i></td>
							<td>{{ item.item_type }}</td>
							<td>{{ item.get_total }}$</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			<a  class="btn btn-outline-dark" href="{% url 'post:explore' %}"> Continue Shopping</a>
			<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'cart:checkout' %}">Checkout</a>
		</div>
</div>
{% endblock %}