{% extends 'users/base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

{% for post in post %}

<!-- <h1 style="text-transform:capitalize;">{{post.title}}</h1> -->

<div class="container1">
    <div class="img-container">
        <img class="card-img-top" src="{{ post.image.url}}">
    </div>
    <div class="detail-container">
        <div class="description-container">
            <h5>Description</h5>
            <p>{{post.description}}</p>
            <p>{{post.date_publication}}</p>
        </div>
        <div class="photo-info-container">
            <div class="photo-item"><img src="https://img.icons8.com/ios/50/null/camera--v3.png"/>
                <p>{{post.camera}}<br>{{post.model}}</p>
            </div>
            <div class="photo-item"><img src="https://img.icons8.com/ios-filled/50/null/frequency-f.png"/>
                <p>/{{post.aperture}}</p>
            </div>
            <div class="photo-item"><img src="https://img.icons8.com/ios/50/null/focal-length.png"/>
                <p>{{post.focal_length}}</p>
            </div>
            <div class="photo-item"><img src="https://img.icons8.com/ios-filled/50/null/iso.png"/>
                <p>{{post.iso_speed}}100</p>
            </div>
            <div class="photo-item"><h3>Shutter Speed</h3>
                <p>{{post.shutter_speed}}</p>
            </div>
        </div>
        <div class="user-container">
            <img src="{{post.user.profile.avatar.url}}" class="avatar" width="50px">
            <a href="{% url 'post:user-profile' pk=post.user.pk %}"><p>{{post.user.first_name}}
                 {{post.user.last_name}}</p></a>
                 <p>{{post.user.profile.bio}}</p>
        </div>
        <div class="button-container">
            <button data-post={{post.id}} data-action="add" type="submit" class="btn-profile update-cart">Add to cart</button>
        </div>
   </div>
</div>

{% endfor %}

<script>
    var modButton1 = document.getElementById('btn1')

    modButton1.addEventListener('click', function(){
        modButton1.classList.add('clicked')
        document.getElementById('btn2').classList.remove('clicked')
    })

    var modButton2 = document.getElementById('btn2')

    modButton2.addEventListener('click', function(){
        modButton2.classList.add('clicked')
        document.getElementById('btn1').classList.remove('clicked')
    })
        
  

</script>

{% endblock %}