{% extends 'users/base.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}
        <div class="form-upload">
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                            <label class="form-label">{{user.username}}</label>
                            <!-- {{form.as_p}} -->
                            <p>Title: {{form.title}}</p>
                            <p>Price: {{form.price}}</p>
                            <p>Upload image:{{form.image}}</p>
                            <p>Description: {{form.description}}</p>

                        <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

{% endblock %}