{% extends 'users/base.html' %}
{% block title %} Update {% endblock %}

{% block content %}

        <div class="grid-container">
                {% if posts %}
                    {% for post in posts %}
                        <div class="grid-item">
                                      <a href="{{ post.image.url }}"><img src="{{ post.image.url }}" class="card-img-top"></a>
                                      <div class="middle">
                                        <a href="{% url 'post:post-modify' id=post.id %} " class="btn-profile"> Modify</a>
                                        <a href="{% url 'post:post-delete' id=post.id %}" class="btn-profile">Delete</a>
                        </div></div>
                        {% endfor %}
                {% else %}
                <div class="container-fluid text-align: center;" id="post">
                    <h3 class="bg-primary"> You have no items.</h3>
                </div>
                {% endif %}
        </div>

{% endblock %}