
<nav>
    <ul id="nav-title">
        <li><h1 ><a href="/" id="nav-title">E-ART</a></h1></li>
        <li><h3 ><a href="{% url 'post:explore' %}" >Explore</a></h3></li>
    </ul>
    
    
    <ul id="nav-user">
        
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:users-profile' %}">Profile</a></li>
        <li><a href="{% url 'post:user-post' %}" >Post</a></li>
        <li><a href="{% url 'post:user-file' %}" >View posts</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        <li><a href="{% url 'users:users-profile' %}" id="user"><img src="{{user.profile.avatar.url}}" class="avatar" width="30px">
        </a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="nav-item ">
            Login
          </a></li>
          <li><a href="{% url 'users:users-register' %}" class="nav-item nav-link">
    
            Sign up for free
         
          </a></li>
          {% endif %}
          <li><a href="{% url 'cart:cart-summary' %}" id="shopping"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</nav>

<!-- 
<script>
    const clicked = document.querySelectorAll('#nav-user a')

    for(var i = 0; i < clicked.length; i++) {
        clicked[i].addEventListener('click', function(e){
            clicked[i].classList.add('click')
            console.log('button clicked')
        })
    }

</script> -->
